<div class="container">
<!--  <div class="responsive">
  <div class="gallery">
    <div >
    <a href="https://www.wongnai.com/advertisements/741/target" target="_blank">
      <img src="https://s3-ap-southeast-1.amazonaws.com/static.wongnai.com/ads/2017/KBank_Everyday_Dining2017_640x160px.jpg">
    </a>
    </div>
  </div>
  </div>

  <div class="responsive">
  <div class="gallery">
    <div >
<a href="https://www.wongnai.com/advertisements/848/target" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/static.wongnai.com/ads/2017/mali2640x160.jpg"></a>
    </div>
  </div>
  </div>

  <div class="responsive">
  <div class="gallery">
    <div >
<a href="https://www.wongnai.com/advertisements/848/target" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/static.wongnai.com/ads/2017/mali2640x160.jpg"></a>
    </div>
  </div>
</div>  -->
<!--<img class="logo" src="{{imgPath + imgFileName}}" /> -->
  <div *ngIf="showEvent" >
    <div *ngFor="let event of events" class="responsive" (click)="toggleRestaurant(event)"  >
    <div class="gallery">
      <div >
      <a href="javascript:void(0)" >
        <img src="{{imgPath + event.imgname}}" title="{{event.eventname}}">
      </a>
      </div>
    </div>
    </div>
  </div>

  <div *ngIf="showRestaurant" >
    <div *ngFor="let restaurant of restaurants" class="responsive" (click)="toggleRestaurantDetail(restaurant)"  >
      <div class="thumbnail2">
        <img src="{{imgPath + restaurant.imgname}}" title="{{restaurant.restaurantname}}่" alt="{{restaurant.restaurantname}}">
      </div>
      <div class="desc">

        <a href="javascript:void(0)">{{restaurant.restaurantname}}</a>
        <p>ห้ามพลาด! กับสุดยอดมหกรรมด้านอาหาร ที่รวมเอาความสนุก ความรู้ และ ...</p>
      </div>

    </div>
  </div>
</div>
